html, body
{
    margin: 0px;
}

nav {
    background-color: rgb(108, 108, 243);
}
header, footer
{
    font-family: Raleway;
    margin: 0 auto;
	  padding: 2em 1em;
	  text-align: center;
    background: rgb(179, 174, 174);
}
div.container
{
    font-family: Raleway;
    margin: 0 auto;
	  padding: 1.5em 1.5em;
	  text-align: center;
}
div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 18px;
    margin: 5px 5px;
    padding: 7px 7px;
    position:sticky
}

body {
    margin: 0%;
    background-color: rgb(210, 232, 240);
}

.responsive {
  position: sticky;
    width: 100%;
    height: auto;
  }

.responsive-2 {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .responsive-3 {
      width: 100%;
      max-width: 400px;
      height: auto;
    }

  p {
    color:rgb(26, 24, 24);
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }