html, body
{
    margin: 0px;
}
h1 {
  color: rgb(107, 100, 100);
}

nav {
    background-color: rgb(108, 108, 243);
}
header, footer
{
    font-family: Raleway;
    margin: 0 auto;
	  padding: 1em 1em;
	  text-align: center;
    background: rgb(179, 174, 174);
}
div .container
{
    font-family: Raleway;
    margin: 0 auto;
	  padding: 1.25em 1.25em;
	  text-align: center;
}
div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 14px;
    margin: 5px 5px;
    padding: 5px 5px;
    position:sticky
}

body {
    margin: 0%;
    background-color: rgb(210, 232, 240);
}

section {
  background-color: rgb(108, 108, 243);
}

.responsive {
  position: sticky;
    width: 100%;
    height: auto;
    animation-duration: 3s;
    animation-name: slidein ;
  }

.responsive-2 {
    width: 100%;
    max-width: 400px;
    height: auto;
    animation-duration: 5s;
    animation-name: slidein ;
  }
  .responsive-3 {
      width: 100%;
      max-width: 400px;
      height: auto;
      animation-duration: 9s;
      animation-name: slidein ;
    }

  p {
    color:rgb(26, 24, 24);
    animation-duration: 7s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }